<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home menu</title>
</head>
<style>
    h1{
        text-align: center;
        margin-left: -200px;
    }
    div {
        width: 400px;
        margin: auto;
    }
    li {
        font-size: x-large;
        font-weight: 200;
        padding: 10px;
    }
    li>a {
        text-decoration: none;
        color: black;
        
    }
    li>a:visited {
     color: inherit;
    }
</style>
<body>
    <h1>Home menu</h1>
    <hr>
    <div>    
        <ol>
            <li><a href="/view/createUserInLocalStorage.html">LocalStorage 사용</a></li>
            <li><a href="/view/createUserInDB.html">DB 사용</a></li>
            <li><a href="/view/inData.html">-</a></li>
        </ol>
    </div>
</body>
</html>